*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Header */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
}

nav a {
  color: #707070;
  font-size: 20px;
  margin-left: 50px;
}
